<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Acidham</string>
	<key>connections</key>
	<dict>
		<key>55D58EF7-AAFE-4DF1-8387-1C50EC5F53F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F03D4D-59B1-4192-9DAF-41A8E1FA58FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EBDE058-4097-4CCC-9378-A115BD1A2DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CFA7BDD-408C-4990-8449-F65C612FD982</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CFA7BDD-408C-4990-8449-F65C612FD982</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55D58EF7-AAFE-4DF1-8387-1C50EC5F53F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5F03D4D-59B1-4192-9DAF-41A8E1FA58FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E595D18D-953F-445C-A5EC-3D588621D3EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A07A817-AC3F-40E5-B66F-BA92CAE52F98</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>980B263E-B424-4C98-9E2E-93B3D0389B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD3C3C73-7165-4BEB-A216-8406BB3BC7CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EBDE058-4097-4CCC-9378-A115BD1A2DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>com.apple.alfred.workflow.sidenotes</string>
	<key>description</key>
	<string>Create Note in SideNotes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SideNotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Note created</string>
				<key>title</key>
				<string>SideNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E595D18D-953F-445C-A5EC-3D588621D3EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>snote</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh sidenotes.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Create Note in SideNotes</string>
				<key>title</key>
				<string>SideNotes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD3C3C73-7165-4BEB-A216-8406BB3BC7CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./py3.sh create_note.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55D58EF7-AAFE-4DF1-8387-1C50EC5F53F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Create Note in "{var:target_folder}"</string>
				<key>text</key>
				<string>Note: {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CFA7BDD-408C-4990-8449-F65C612FD982</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>6A07A817-AC3F-40E5-B66F-BA92CAE52F98</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E5F03D4D-59B1-4192-9DAF-41A8E1FA58FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target_folder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5EBDE058-4097-4CCC-9378-A115BD1A2DE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>An error occured</string>
				<key>title</key>
				<string>SideNotes ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>980B263E-B424-4C98-9E2E-93B3D0389B8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>55D58EF7-AAFE-4DF1-8387-1C50EC5F53F7</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5EBDE058-4097-4CCC-9378-A115BD1A2DE6</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>980B263E-B424-4C98-9E2E-93B3D0389B8F</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>9CFA7BDD-408C-4990-8449-F65C612FD982</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E595D18D-953F-445C-A5EC-3D588621D3EA</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>E5F03D4D-59B1-4192-9DAF-41A8E1FA58FA</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>FD3C3C73-7165-4BEB-A216-8406BB3BC7CC</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-sidenotes</string>
</dict>
</plist>
